{{#formatsupportstoc}}
<nav id="course-toc" class="js-only">
    <div>
        <h2 id="toc-desktop-menu-heading">
             {{#str}}contents, theme_snap{{/str}}
        </h2><a id="toc-desktop-menu-toggle" data-toggle="collapse" href="#snap_toc_chapters"><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
        {{> theme_snap/course_toc_module_search}}
        <a id="toc-mobile-menu-toggle" href="#course-toc"><small class="sr-only"><br>{{#str}}contents, theme_snap{{/str}}"</small></a>
    </div>

    {{#chapters}}
        {{> theme_snap/course_toc_chapters }}
    {{/chapters}}

    {{#footer}}
        {{> theme_snap/course_toc_footer }}
    {{/footer}}
</nav>
{{/formatsupportstoc}}
